# {{ ansible_managed }}

MIRRORNAME="{{ archvsync_mirrorname }}"
TO="/srv/mirrors/{{ item.name }}/"
LOGDIR="$HOME/log"
LOCKDIR="$HOME/locks/{{ item.name }}"

RSYNC_PATH="{{ item.name }}"
RSYNC_HOST="{{ item.archvsync_host }}"

ARCH_INCLUDE="amd64 i386 source"
{% if item.metadata_only|default(false) %}
EXCLUDE="--filter=exclude_/dists/*/main/installer-*/ --filter=exclude_/pool/ --filter=protect_/pool/"
{% endif %}
{% if item.push|default(false) %}
HUB=true
{% endif %}

. /etc/ftpsync/ftpsync-secrets.conf
