# {{ ansible_managed }}
{% for host in authorized_keys_hosts | sort %}
{% set _vars = hostvars[host] %}
# Host {{ host }}
command="/srv/archvsync/bin/ftpsync -T 'ssh ({{ host }})'",restrict {{ _vars.ssh_push_key }}
{% endfor %}
