<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Debian mirror</title>
  </head>
  <body>
    <h1>Debian mirror</h1>
    <footer>
      You reached {{ inventory_hostname.split('.')[0] }}.{{ external_domain }}.
    </footer>
  </body>
</html>
