global:
  external_labels:
{% if 'azure' in groups %}
    provider: azure
{% endif %}

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - localhost:9093

rule_files:
- /usr/local/etc/prometheus-rules.yml

scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - localhost:9090

- job_name: alertmanager
  static_configs:
  - targets:
    - localhost:9093

- job_name: node
  relabel_configs:
  - source_labels: [__meta_azure_machine_name]
    target_label: name
  - source_labels: [__meta_azure_machine_location]
    target_label: location
    replacement: azure_$1
  - source_labels: [__meta_azure_machine_tag_type]
    target_label: type
  - source_labels: [__meta_azure_machine_tag_type_mirror]
    target_label: type_mirror
{% if 'azure' in groups %}
  azure_sd_configs:
  - authentication_method: ManagedIdentity
    subscription_id: {{ azure_subscription_id }}
    port: 9100
{% endif %}

- job_name: nginx
  relabel_configs:
  - source_labels: [__meta_azure_machine_tag_type]
    regex: mirror
    action: keep
  - source_labels: [__meta_azure_machine_tag_type_mirror]
    regex: backend
    action: keep
  - source_labels: [__meta_azure_machine_name]
    target_label: name
  - source_labels: [__meta_azure_machine_location]
    target_label: location
    replacement: azure_$1
  - source_labels: [__meta_azure_machine_tag_type]
    target_label: type
  - source_labels: [__meta_azure_machine_tag_type_mirror]
    target_label: type_mirror
{% if 'azure' in groups %}
  azure_sd_configs:
  - authentication_method: ManagedIdentity
    subscription_id: {{ azure_subscription_id }}
    port: 9113
{% endif %}

- job_name: mirror
  relabel_configs:
  - source_labels: [__meta_azure_machine_tag_type]
    regex: mirror
    action: keep
  - source_labels: [__meta_azure_machine_name]
    target_label: name
  - source_labels: [__meta_azure_machine_location]
    target_label: location
    replacement: azure_$1
  - source_labels: [__meta_azure_machine_tag_type]
    target_label: type
  - source_labels: [__meta_azure_machine_tag_type_mirror]
    target_label: type_mirror
{% if 'azure' in groups %}
  azure_sd_configs:
  - authentication_method: ManagedIdentity
    subscription_id: {{ azure_subscription_id }}
    port: 9896
{% endif %}
